
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: hwb(24 5% 15%);
    color: #0f0707;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: hsl(32, 82%, 46%);
    color: #130d0d;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #141010;
    text-decoration: none;
    margin: 0 10px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(240, 102, 23, 0.945);
}
form {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 20px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-item {
    margin: 5px;
}
.gallery-item img {
    max-width: 60%;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
        /*  Aca es el estilo para la galería de imágenes */
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .gallery-item {
            flex-basis: calc(33.33% - 20px); /* Ajusta el ancho de cada elemento */
            margin-bottom: 80px; /* Espacio entre los elementos */
        }
        .gallery-item img {
            width: 400%; /* Las imágenes ocuparán todo el ancho del contenedor */
            height: auto; /* Altura automática para mantener la proporción */
            display: block; /* Elimina el espacio en blanco debajo de las imágenes */
        }
        .gallery-item img,
        .gallery-item iframe {
            width: 100%; /* El iframe ocupará todo el ancho del contenedor */
            height: auto; /* Altura fija para el iframe */
            display: block; /* Elimina el espacio en blanco debajo del iframe */
        }

        .video-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px; /* Espacio entre los videos */
        }
        .video-container video {
            max-width: 300px; /* Ancho máximo de los videos */
            height: auto; /* Para mantener la proporción de aspecto */
            margin: 50px;
        }
        .video-container-galeria { 
            margin-top: 50px;
        }
        .video-container-eventos { 
            margin-top: 50px;
        }
    
